In [1]:
import pandas as pd
import pymysql

# Dispatch DF 불러오기
con = pymysql.connect(
    user='root',
    passwd='3644',
    host='143.248.121.90',
    port=3306,
    db='hdl',
    charset='utf8mb4',
    use_unicode='true'
)
mycursor = con.cursor()
query = """
    select * from hdl.dispatch;
"""
mycursor.execute(query)
data = mycursor.fetchall()
con.close()
dispatch_df = pd.DataFrame(data, columns=["dispatchID", "messageTime", "passengerID", "requestID", "routeIDs", "pickupStationName", "dropoffStationName", "reserveType", "onboardingTime", "dropoffTime", "linkIDs", "pickupStationID", "dropoffStationID", "tripID", "operationID", "vehicleID"])

# Operation DF 불러오기
con = pymysql.connect(
    user='root',
    passwd='3644',
    host='143.248.121.90',
    port=3306,
    db='hdl',
    charset='utf8mb4',
    use_unicode='true'
)
mycursor = con.cursor()
query = """
    select * from hdl.operation;
"""
mycursor.execute(query)
data = mycursor.fetchall()
con.close()
operation_df = pd.DataFrame(data, columns=["operationID", "vehicleID", "StationIDs", "routeIDs", "startTime", "endTime", "VehicleType", "operationServiceType"])

# Route DF 불러오기
con = pymysql.connect(
    user='root',
    passwd='3644',
    host='143.248.121.90',
    port=3306,
    db='hdl',
    charset='utf8mb4',
    use_unicode='true'
)
mycursor = con.cursor()
query = """
    select * from hdl.route;
"""
mycursor.execute(query)
data = mycursor.fetchall()
con.close()
route_df = pd.DataFrame(data, columns=["routeID", "routeSeq", "operationID", "vehicleID", "routeInfo", "linkIDs", "NodeIDs", "originStationID", "originDeptTime", "destinationID", "destDeptTime", "onboardingNum", "dispatchIDs", "lon", "lat", "originBoardingPxIDs", "originGetoffPxIDs", "destBoardingPxIDs", "destGetoffPxIDs"])

# Reservation DF 불러오기
con = pymysql.connect(
    user='root',
    passwd='3644',
    host='143.248.121.90',
    port=3306,
    db='hdl',
    charset='utf8mb4',
    use_unicode='true'
)
mycursor = con.cursor()
query = """
    select * from hdl.reservation_request;
"""
mycursor.execute(query)
data = mycursor.fetchall()
con.close()
request_df = pd.DataFrame(data, columns=["requestID", "passengerID", "messageTime", "pickupStationID", "dropoffStationID", "serviceType", "reserveType", "dispatchID", "responseStatus", "confirmCheck", "passengerCount", "wheelchairCount", "failInfoList", "pickupTimeRequest"])

ValueError: 19 columns passed, passed data had 20 columns

In [2]:
import pandas as pd
import pymysql

con = pymysql.connect(
    user='root',
    passwd='3644',
    host='143.248.121.90',
    port=3306,
    db='hdl',
    charset='utf8mb4'
)

df = pd.read_sql("SELECT * FROM hdl.dispatch;", con)
con.close()

df.head()

C:\Users\HDL\AppData\Local\Temp\ipykernel_7376\3250670621.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM hdl.dispatch;", con)

,dispatchID,messageTime,passengerID,requestID,routeIDs,pickupStationName,dropoffStationName,reserveType,onboardingTime,dropoffTime,linkIDs,pickupStationID,dropoffStationID,tripID,operationID,vehicleID
0,D01bc8b562,1769404210947,307,req-2830,[2026012700032],No Station Name,No Station Name,1,202601271830,2.026013e+11,"[""L233017530"", ""L233017320"", ""L233017290"", ""L2...",S233001450,S233001230,Td2bdf36b1,202601260004,TW_000000001
1,D025f300df,1769820252617,584,req-3484,[2026013100074],No Station Name,No Station Name,2,202601310959,2.026013e+11,"[""L233001430"", ""L233001440"", ""L233001450"", ""L2...",S233004420,S233003070,T2624eb376,202601310003,TW_000000004
2,D037cf221e,1768447691755,617,req-0044,"[2026011700065, 2026011700066, 2026011700067]",No Station Name,No Station Name,1,202601161531,2.026012e+11,"[""L233019670"", ""L233019680"", ""L233020540"", ""L2...",S233001900,S233004380,T8d9cab5f4,202601150004,TW_000000001
3,D041800e56,1768635125375,794,req-0358,[2026011800056],No Station Name,남양성지,1,202601181904,2.026012e+11,"[""L233008740"", ""L233008700"", ""L233010560"", ""L2...",S233007900,S233004740,Tbeefe0533,202601170008,TW_000000007
4,D04b9f9892,1769744411937,758,req-3374,[2026013100026],No Station Name,No Station Name,1,202601312100,2.026013e+11,"[""L233024660"", ""L233024590"", ""L233024700"", ""L2...",S233002920,S233008030,Td9c5a7e14,202601300005,TW_000000006

In [4]:
import pandas as pd
import pymysql

con = pymysql.connect(
    user='root',
    passwd='3644',
    host='143.248.121.90',
    port=3306,
    db='hdl',
    charset='utf8mb4'
)

df = pd.read_sql("SELECT * FROM hdl.route LIMIT 5;", con)
con.close()

df.head()

for c in df.columns:
    print(c)

routeID
routeSeq
operationID
vehicleID
routeInfo
linkIDs
NodeIDs
originStationID
originDeptTime
destStationID
onboardingNum
dispatchIDs
lon
lat
originBoardingPxIDs
originGetoffPxIDs
destBoardingPxIDs
destGetoffPxIDs
destArrivalTime
routeCode

C:\Users\HDL\AppData\Local\Temp\ipykernel_7376\543678766.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM hdl.route LIMIT 5;", con)

In [ ]:
request_df

,requestID,passengerID,messageTime,pickupStationID,dropoffStationID,serviceType,reserveType,dispatchID,responseStatus,confirmCheck,passengerCount,wheelchairCount,failInfoList,pickupTimeRequest
0,req-0100,958,1745105404571,S413000590,S413000760,1,2,D69dbc50f6,1.0,1.0,1,1,None,NaN
1,req-0101,42,1745105716065,S186000710,S186001400,2,2,D8229e73ba,1.0,1.0,6,0,None,NaN
2,req-0102,736,1745138580000,S413001600,S413001130,1,1,Ded272d9f1,1.0,1.0,3,0,None,2.025042e+11
3,req-0103,808,1745139600000,S186000170,S186000860,2,1,Da759a4971,1.0,1.0,3,0,None,2.025042e+11
4,req-0104,889,1745139720000,S413000720,S413000490,1,1,Dbe5fd2f05,1.0,1.0,1,1,None,2.025042e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4158,req-9036,482,1753696443752,S413001190,S413000340,1,2,None,NaN,NaN,1,1,[202],NaN
4159,req-9047,263,1753731780000,S413000520,S413000400,1,1,None,NaN,NaN,2,1,[202],2.025073e+11
4160,req-9055,928,1753701241757,S413001650,S413000990,1,2,None,NaN,NaN,2,1,[],NaN
4161,req-9058,265,1753701724556,S413001000,S413000290,1,2,None,NaN,NaN,1,1,[],NaN
4162,req-9062,902,1753702328050,S413000290,S413001030,1,2,None,NaN,NaN,1,1,[],NaN